<div class="aspect-square w-[200px] bg-dark-500 rounded-lg p-5 flex flex-col cursor-pointer border border-transparent hover:border-primary-500 hover:scale-110 duration-200" [routerLink]="['../asset/', asset.assetTicker]">
  <div class="flex items-center gap-2">
    <div class="h-3/4 w-[5px] rounded-full bg-primary-500"></div>
    <p class="font-bold">{{asset.assetTicker}}</p>
  </div>
  <p class="text-sm italic text-light-400">{{asset.name}}</p>

  <div class="flex-1"></div>
  <p><span class="text-4xl font-thin">{{quantity}}</span> share{{quantity > 1 ? 's' : ''}}</p>
  <div class="flex-1"></div>

  <p class="text-light-500 text-lg">${{quantity * assetValue | number : '1.2-2'}} <span class="text-sm">at ${{assetValue | number : '1.2-2'}} ea.</span></p>
</div>
