<div class="min-h-screen flex justify-center items-center">
  <div class="bg-dark-500 rounded p-5 flex flex-col items-center">
    <div class="max-w-[300px]">
      <img src="../../../assets/logo_GRA_no-bg.png" class="object-contain" alt="logo"/>
    </div>
    <p *ngIf="invalidCredentials" class="text-red-400">Invalid credentials !</p>
    <p *ngIf="justRegistered" class="text-green-400">Account registered ! Please log in</p>

    <form [formGroup]="form" class="w-full my-4 flex flex-col gap-6" (ngSubmit)="submitForm()">
      <div class="flex flex-col">
        <label for="email" class="mb-2 text-light-500">Email</label>
        <input id="email" type="text" formControlName="email" class="bg-dark-300 h-8 px-3">
        <app-form-validation-error-message [validationErrorMessages]="validationErrorMessages.email" [control]="form.controls['email']"></app-form-validation-error-message>
      </div>
      <div class="flex flex-col">
        <label for="password" class="mb-2 text-light-500">Password</label>
        <input id="password" type="password" formControlName="password" class="bg-dark-300 h-8 px-3">
        <app-form-validation-error-message [validationErrorMessages]="validationErrorMessages.password" [control]="form.controls['password']"></app-form-validation-error-message>
      </div>
      <button [disabled]="form.invalid" type="submit" class="w-full rounded p-2 flex justify-between bg-primary-500 disabled:bg-primary-0 hover:bg-primary-900 text-dark-900 disabled:text-dark-500 text-center">
        <p>Sign in</p>
        <fa-icon [icon]="faChevronRight"></fa-icon>
      </button>
    </form>

    <a [routerLink]="'/register'" class="underline">Create an account?</a>
  </div>
</div>
