<div class="w-full h-full flex justify-center py-20">
  <div class="flex justify-center flex-1">
    <div class="w-1/2 h-full bg-dark-800 rounded-lg px-10 py-10">
      <h1 class="text-4xl font-bold text-gradient from-secondary to-primary-500 pb-10">Your profile</h1>
      <div class="flex flex-wrap gap-5 justify-around">
        <p>This page will allow you to change your username, email, password, etc.</p>
        <p>It hasn't been implemented yet for the MVP.</p>
      </div>
    </div>
  </div>
</div>
